* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #dfdfdf;
}

.login-box1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 480px;
  padding: 30px;
}

.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 480px;
  padding: 30px;
  margin-top:520px;
}

.login-header {
  text-align: center;
  margin: 20px 0 40px 0;
}

.login-header header {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}

.input-box .input-field {
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: .3s;
}

::placeholder {
  font-weight: 500;
  color: #222;
}

.input-field:focus {
  width: 105%;
}

.forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

section {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

#check {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section a {
  color: #555;
}

.input-submit {
  position: relative;
}

.submit-btn {
  width: 100%;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 30px;
  transition: .3s;
}

.input-submit label {
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.input-submit2 {
  position: relative;
}

.submit2-btn {
  width: 100%;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 30px;
  transition: .3s;
  margin-top: 20px;
}

.input-submit2 label {
  position: absolute;
  top: 62%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.input-submit3 {
  position: relative;
}

.submit3-btn {
  width: 100%;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 30px;
  transition: .3s;

}

.input-submit3 label {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.input-submit4 {
  position: relative;
}

.submit4-btn {
  width: 100%;
  height: 60px;
  background: #222;
  border-radius:30px;
  transition: .3s;
  margin-top:630px;
  margin-bottom:10px;
  border: none;
}

.input-submit4 label {
  position: absolute;
  top: 94%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.submit-btn:hover {
  background: #000;
  transform: scale(1.05, 1);
}

.submit2-btn:hover {
  background: #cd0a0a;
  transform: scale(1.05, 1);
}

.submit3-btn:hover {
  background: #10e20d;
  transform: scale(1.05, 1);
}

.submit4-btn:hover {
  background: #10e20d;
  transform: scale(1.05, 1);
}


.sign-up-link {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.sign-up-link a {
  color: #000;
  font-weight: 600;
}

.warning1 {
  color: darkred;
  font-size: larger;
  text-align: center;
}

.warning2 {
  color: rgb(66, 182, 8);
  font-size: larger;
  text-align: center;
}

#matches {
  overflow-y:auto;
  margin-top:350px;
  position:absolute;
  height:80px;
  width:384px; 
  margin-right:50px;
}

#matches section {
  position:relative;
  color:#fff;
  background-color:#000000;
  padding:20px;
  transition:0.3s;
  background:#222;
  border:none;
  border-radius:30px;
  height:60px;
 /* width:1050px;*/
  /*margin-top: 100px;*/
  margin-right:12.9px;
}
      

#matches section:hover {
  background-color: #10e20d;
  /*transform: scale(1.05, 1);*/
}


h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}